footer,
header nav {
  background: linear-gradient(-45deg, #32cd32, #32cd32, #32cd32, #ffa500);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  box-shadow: 4px 0px 14px black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


* {
  scroll-behavior: smooth;
}


header nav ul li a {
  transition: all 0.25s;
}

header nav ul li a:hover {
  transform: scale(1.1);
}

/**Seccion de bienvenida e inicio**/
.welcome {
  width: 100%;
  height: 100%;
  padding: 270px 0px 270px 0px;
  position: relative;
  background: url(../imagen/bgSuperMarket.jpg);
  background-size: cover;
}

.welcome div div Div a {
  width: 15vh;
  height: 7vh;
}

.welcome div div Div a button {
  border-color: #ffc107;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 2%, 5%;
  margin: 2vh;
  background-color: #ffc107;
  color: #000000;
  width: 15vh;
  height: 7vh;
}

.welcome div div Div a button:hover {
  background-color: #32cd32;
  color: black;
  border-color: black;
  border-radius: 0.25rem;

}

#textoBienvenida {
  color: black;

}

section div h1 {
  padding-top: 60px !important;
}

.listaSeccion {
  padding: 60px 0px 60px 0px;
  background-color: #32cd32;
  box-shadow: 0px 4px 14px black;
}
.climaSeccion {
  margin-top: 5vh;
  padding: 60px 0px 60px 0px;
  background-color: #32cd32;
  box-shadow: 0px 4px 14px black;
}

.listaSeccion p {
  font-size: 2.7vh;
}




.productos-seccion {
  padding: 80px 0px 40px 0px;
  background-image: linear-gradient(to right, #18feaf, violet);
  box-shadow: 0px 4px 14px black;
}



.comparaSeccion {
  padding: 60px 0px 60px 0px;
}

.comparaSeccion .mandala-terapia {
  transition: all 0.7s;
}

.comparaSeccion .mandala-terapia:hover {
  transform: scale(1.5) translate(-50%);
}




.ubicanos-seccion {
  padding: 25px 0px 10px 0px;
}

/*se agrego animacion de color al footer y header con un box shadows para darle sensacion de profundidad*/

footer .footer-left li {
  list-style: none;
}

footer .footer-left li a {
  color: black;
  text-decoration: none;
  transition: all 0.25s;
}

footer .footer-left li a:hover {
  transform: scale(1.5);
}

footer .footer-center a img {
  transition: all 0.25s;
}

footer .footer-center a img:hover {
  transform: scale(1.1);
}


.margen {
  border-left-width: 50% !important;

  border-left: black;
  border-left-style: inset;
}

.toastNotify {
  border-radius: 0.25rem !important;
}
